<!DOCTYPE html>
<html>
<head lang="en-US">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="4th Source Resource Planning App">
  <meta name="keywords" content="Resource, Planning">
  <meta name="viewport" content="width=device-width, initial-scale=1" >
  <meta name="author" content="Jorge Herrera">
  <title>4th Source - Resource Plan</title>
</head>
<body>
  <div>
    <form id="project">
      <label for="project-name">Project:</label>
      <input id="project-name" type="text" required>
      <label for="project-start-date">Start Date:</label>
      <input id="project-start-date" type="date" required>
    </form>
  </div>
  <br>
  <div id="bookings">
    <table>
      <thead>
      </thead>
      <tfoot>
      </tfoot>
      <tbody>
      </tbody>
    </table>

    <button id="add-resource">Add Resource</button>
    <button id="add-week">Add Week</button>
  </div>

  <script type="text/template" id="week-endings-template">
    <tr>
      <th>Resource Name</th>
      <th>Role</th>
      <% for (var weekEnding in weekEndings) { %>
      <td><%= weekEndings[weekEnding] %></td>
      <% } %>
      <td>Total Hours</td>
    </tr>
  </script>

  <script type="text/template" id="resource-template">
    <td>
      <input type="text" class="name" value="<%= name %>">
    </td>
    <td>
      <input type="text" list="roles" class="role" value="<%= role %>">
    </td>
    <% for (var booking in bookings) { %>
    <td>
      <input type="text" value="<%= bookings[booking] %>" data-week-number="<%= booking %>">
    </td>
    <% } %>
    <td class="resource-booking-totals"><%= totalHoursBooked %></td>
  </script>

  <script type="text/template" id="booking-totals-template">
    <td></td>
    <td></td>
    <% for (var weekNumber in bookingTotals) { %>
    <td><%= bookingTotals[weekNumber] %></td>
    <% } %>
    <td><%= grandTotal %></td>
  </script>

  <datalist id="roles">
    <option value="PM">PM</option>
    <option value="BA">BA</option>
    <option value="Tech Lead">Tech Lead</option>
    <option value="Developer">Developer</option>
    <option value="QA Lead">QA Lead</option>
    <option value="QA">QA</option>
  </datalist>

  <!-- build:js js/lib.js -->
  <script type="text/javascript" src="js/lib/jquery.min.js"></script>
  <script type="text/javascript" src="js/lib/underscore-min.js"></script>
  <script type="text/javascript" src="js/lib/backbone-min.js"></script>
  <script type="text/javascript" src="js/lib/moment.min.js"></script>
  <script type="text/javascript" src="js/lib/moment-range.min.js"></script>
  <!-- endbuild -->
  <!-- build:js js/main.js -->
  <script type="text/javascript" src="js/models/project.js"></script>
  <script type="text/javascript" src="js/models/resource.js"></script>
  <script type="text/javascript" src="js/collections/bookings.js"></script>
  <script type="text/javascript" src="js/views/project-view.js"></script>
  <script type="text/javascript" src="js/views/bookings-view.js"></script>
  <script type="text/javascript" src="js/views/resource-view.js"></script>
  <script type="text/javascript" src="js/app.js"></script>
  <!-- endbuild -->
</body>
</html>
