<!DOCTYPE html>
<html>
<head lang="en-US">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="4th Source Resource Planning App">
  <meta name="keywords" content="Resource, Planning">
  <meta name="viewport" content="width=device-width, initial-scale=1" >
  <meta name="author" content="Jorge Herrera">
  <title>4th Source - Resource Plan App</title>
</head>
<body>
  <div id="bookings-worksheet">
    <table>
      <thead>
      </thead>
      <tfoot>
      </tfoot>
      <tbody>
      </tbody>
    </table>

    <button id="add-resource">Add Resource</button>
    <button id="add-week">Add Week</button>
  </div>

  <script type="text/template" id="worksheet-week-endings-template">
    <tr>
      <th>Resource Name</th>
      <th>Role</th>
      <% for (var weekNumber in weekEndings) { %>
        <th><%= weekEndings[weekNumber] %></th>
      <% } %>
    </tr>
  </script>

  <script type="text/template" id="resource-bookings-template">
    <td>
      <input type="text" class="resource-name" value="<%= name %>">
    </td>
    <td>
      <input type="text" class="resource-role" value="<%= role %>">
    </td>
    <% for (var idx in bookingsByWeekEnding) { %>
    <td>
      <input type="text" data-week-ending="<%= bookingsByWeekEnding[idx].weekEnding %>" value="<%= bookingsByWeekEnding[idx].hours %>">
    </td>
    <% } %>
    <td>
      <span class="resource-total-hours"><%= totalHours %></span>
    </td>
  </script>

  <!-- build:js js/lib.js -->
  <script type="text/javascript" src="js/lib/jquery.min.js"></script>
  <script type="text/javascript" src="js/lib/underscore-min.js"></script>
  <script type="text/javascript" src="js/lib/backbone-min.js"></script>
  <script type="text/javascript" src="js/lib/moment.min.js"></script>
  <script type="text/javascript" src="js/lib/moment-range.min.js"></script>
  <!-- endbuild -->
  <!-- build:js js/main.js -->
  <script type="text/javascript" src="js/models/resource.js"></script>
  <script type="text/javascript" src="js/models/booking.js"></script>
  <script type="text/javascript" src="js/collections/resources.js"></script>
  <script type="text/javascript" src="js/collections/bookings.js"></script>
  <script type="text/javascript" src="js/views/resource-bookings.js"></script>
  <script type="text/javascript" src="js/views/bookings-worksheet.js"></script>
  <script type="text/javascript" src="js/app.js"></script>
  <!-- endbuild -->
</body>
</html>
